### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/target/classes/Assignment_2/main/App.class
/target/classes/Assignment_6/BasicPrinter.class
/target/classes/Strategy/BubbleStrategy.class
/target/classes/Assignment_1/tiles/BuildingTile.class
/target/classes/Assignment_2/abstract_factory/Button.class
/target/classes/Assignment_2/abstract_factory/Checkbox.class
/target/classes/Assignment_1/factory/CityMap.class
/target/classes/ChainOfResponsibility/ClaimHandler.class
/target/classes/Strategy/CocktailSortStrategy.class
/target/classes/memento/guistate/ColorBox.class
/.idea/compiler.xml
/target/classes/Assignment_4/subject/ConcreteWeatherStation.class
/target/classes/ChainOfResponsibility/ContactRequestHandler.class
/target/classes/memento/guistate/Controller.class
/target/classes/Assignment_3/composite/Department.class
/target/design_patterns-1.0-SNAPSHOT.jar
/target/classes/ChainOfResponsibility/DevelopmentSuggestionHandler.class
/target/classes/Assignment_3/leaf/Employee.class
/target/classes/Assignment_6/EncryptedPrinter.class
/target/classes/Assignment_7/ExpertState.class
/target/classes/ChainOfResponsibility/FeedbackMaster.class
/target/classes/Assignment_6/FilePrinter.class
/target/classes/Assignment_1/tiles/ForestTile.class
/target/classes/Assignment_1/main/Game.class
/target/classes/Assignment_7/GameCharacter.class
/target/classes/ChainOfResponsibility/GeneralFeedbackHandler.class
/target/classes/memento/guistate/Gui$1.class
/target/classes/memento/guistate/Gui.class
/target/classes/ChainOfResponsibility/Handler.class
/target/classes/memento/guistate/IMemento.class
/target/classes/Assignment_7/IntermediateState.class
/target/classes/Assignment_5/LoggerSingleton.class
/target/classes/Assignment_3/Main.class
/target/classes/Assignment_4/Main.class
/target/classes/Assignment_5/Main.class
/target/classes/Assignment_6/Main.class
/target/classes/Assignment_7/Main.class
/target/classes/memento/guistate/Main.class
/target/classes/Assignment_1/map/Map.class
/target/classes/Assignment_7/MasterState.class
/target/classes/memento/guistate/Memento.class
/target/classes/ChainOfResponsibility/Message$MessageType.class
/target/classes/ChainOfResponsibility/Message.class
/target/classes/memento/guistate/Model.class
/target/classes/Assignment_2/products/ModernButton.class
/target/classes/Assignment_2/products/ModernCheckBox.class
/target/classes/Assignment_2/products/ModernTextField.class
/target/classes/Assignment_2/concrete_factory/ModernUIFactory.class
/target/classes/Assignment_7/NoviceState.class
/target/classes/Assignment_4/observer/Observer.class
/target/classes/Assignment_6/Printer.class
/target/classes/Assignment_6/PrinterDecorator.class
/target/classes/Strategy/QuickSortStrategy.class
/target/classes/Assignment_2/products/RetroButton.class
/target/classes/Assignment_2/products/RetroCheckBox.class
/target/classes/Assignment_2/products/RetroTextField.class
/target/classes/Assignment_2/concrete_factory/RetroUIFactory.class
/target/classes/Assignment_1/tiles/RoadTile.class
/target/classes/Strategy/SortingContext.class
/target/classes/Strategy/SortingStrategy.class
/target/classes/Assignment_7/State.class
/target/classes/Assignment_1/tiles/SwampTile.class
/target/classes/Assignment_2/abstract_factory/TextField.class
/target/classes/Assignment_1/tiles/Tile.class
/target/classes/Assignment_2/abstract_factory/UIFactory.class
/target/classes/Assignment_3/component/Unit.class
/target/classes/Assignment_1/tiles/WaterTile.class
/target/classes/Assignment_4/observer/WeatherObserver.class
/target/classes/Assignment_4/subject/WeatherStation.class
/target/classes/Assignment_1/factory/WildernessMap.class
